<div class="modal-background-container" [hidden]="!settings_info.show">
    <div class="modal-container" id="SettingsContainer">
            <div class="row">
                <div class="col-md-12 header">
                    <h2>
                        SETTINGS
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div><h3>SAR-Client {{current_version}}</h3></div>
                    <div  [hidden]="update_info.status_obj.status != 'update_required'">
                        <h3>Update required</h3>
                        <p>You need to update your application to version {{update_info.status_obj.version}}!</p>
                    </div>
                    <div [hidden]="update_info.status_obj.status != 'update_possible'">
                        <h3>Update required</h3>
                        <p>Please update your application to version {{update_info.status_obj.version}}!</p>
                    </div>
                    <div>
                        <a (click)="openExternal(update_info.status_obj.link)" class="btn btn-primary">Download New Version</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="db-remote-url">Database URL</label>
                            <input id="db-remote-url" type="text" class="form-control" name="db-remote-uri" [(ngModel)]="db_remote_url">
                        </div>
                        <button class="btn btn-primary" (click)="updateSettings()">Save</button>
                        <button class="btn btn-default" (click)="closeSettings()">Close</button>
                    </form>
                </div>
            </div>
    </div>
</div>
