<div class="modal-background-container">
    <div class="modal-container" id="createCaseContainer">
        <form id="createCaseForm" #f="ngForm">
            <div class="row">
                <div class="col-md-12 header">
                    <h2>
                        Create a new case
                    </h2>
                    <p>A case contains all the important informations and should be updated durring the mission.</p>
                </div>
            </div>
            <div class="row">
                <div *ngIf="edited" class="alert alert-danger" role="alert">
                    <span class="sr-only">Warning:</span> Case has been changed by another person! <a class="refresh-link" (click)="refresh()">Please relaod!</a>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-3">
                    <label for="boat_type">Boat Type</label>
                    <select class="form-control" name="boat_type" id="boat_type" [(ngModel)]="case.boatType">
                <option *ngFor="let key of boatTypeKeys" [value]="key">{{boatTypeList[key]}}</option>
              </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="boat_status">Status</label>
                    <select class="form-control" name="boat_status" id="boat_status" [(ngModel)]="case.state">
                <option *ngFor="let key of stateKeys" [value]="key">{{stateList[key]}}</option>
              </select>
                    <input type="hidden" name="source_type" value="create_case_form">
                </div>



                <div class="form-group col-md-3">
                    <label for="boat_condition">Condition</label>
                    <select class="form-control" name="boat_condition" id="boat_condition" [(ngModel)]="case.boatCondition">
                <option *ngFor="let key of boatConditionKeys" [value]="key">{{boatConditionList[key]}}</option>
              </select>
                </div>

                <div class="form-group form-inline col-md-3">
                    <div class="checkbox" style="padding-top:32px;">
                        <input type="checkbox" id="engine_working" name="engine_working" value="1" [(ngModel)]="case.engineWorking"> <label for="engine_working">Working engine</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng>
                    <label> Position</label>
                    <div class="btn-group ">
                        <a class="btn btn-default btn-sm">GMS</a> <a class="btn btn-default btn-sm active">DG</a>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="lat">Lat</label>
                    <input class="form-control" type="text" placeholder="Lat" name="lat" id="lat" [(ngModel)]="case.location && case.location.latitude">
                </div>

                <div class="form-group col-md-3">
                    <label for="lon">Lon</label>
                    <input class="form-control" type="text" placeholder="Lon" name="lon" id="lon" [(ngModel)]="case.location && case.location.longitude">
                </div>
                <div class="col-md-3">
                    <label>GPS</label>
                    <a class="btn btn-sm   btn-default use_location" (click)="getCurrentPosition()"><i class="zmdi zmdi-pin"></i>Current Location</a>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="passenger_count">How many people?</label>
                    <input class="form-control" name="passenger_count" type="number" placeholder="How many people?" id="passenger_count" [(ngModel)]="case.peopleCount">
                </div>
                <div class="form-group col-md-3">
                    <label for="passenger_count">… women?</label>
                    <input class="form-control" name="women_on_board" type="number" placeholder="How many woman?" id="women_on_board" [(ngModel)]="case.womenCount">
                </div>
                <div class="form-group col-md-3">
                    <label for="passenger_count">… children?</label>
                    <input class="form-control" name="children_on_board" type="number" placeholder="How many children?" id="children_on_board" [(ngModel)]="case.childrenCount">
                </div>
                <div class="form-group col-md-3">
                    <label for="passenger_count">… disabled?</label>
                    <input class="form-control" name="disabled_on_board" type="number" placeholder="How many disabled?" id="disabled_on_board" [(ngModel)]="case.disabledCount">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="checkbox" id="otherBoats" name="other_involved" value="1">
                    <label for="otherBoats">Other boat/s involved?</label>
                    <div class="other_boats">
                        <input class="form-control" type="text" id="additional_informations">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="checkbox" id="additionalInfos">
                    <label for="additionalInfos">Additional information</label>
                    <div class="additional_infos">
                        <input class="form-control" type="text" placeholder="Additional informations" name="additional_informations" id="additional_informations" ng-model="case.additional_informations">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input (click)="closeModal()" value="Cancel" class="btn btn-danger">
                </div>
                <div class="col-md-3">
                    <input (click)="save()" value="Submit" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
</div>