/****** MODAL ******/

.modal-background-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999 !important;
    background: rgba(120, 120, 120, 0.5);
}

.modal-container {
    padding: 30px;
    max-width: 1200px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 35px auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.cases {
    list-style-type: none;
}

.case {
    background: #ffffff;
    margin: 15px 25px;
    padding: 15px 15px;
    font-size: 1.25rem;
}

.case .status:before {
    font-family: Material-Design-Iconic-Font;
    content: '\f29b';
}

.critical:before,
.needhelp:before {
    color: #ff4344;
}

.confirmed:before,
.possibletarget:before,
.attended:before {
    color: #ff8942;
}

.closed:before {
    color: rgb(66, 183, 42);
}

.material-design-icons {
    font-family: Material-Design-Iconic-Font;
}