<div class="cases-container" id="caseListContainer">
    <ul class="cases">
        <li *ngFor="let case of cases;" class="case filter">
            <div class="row">
                <div class="status col-md-3 {{getStateClassName(case.state)}}">{{getStateName(case.state)}}</div>
                <div class="col-md-3">{{getBoatTypeName(case.boatType)}}</div>
                <div class="col-md-3">{{getBoatConditionName(case.boatCondition)}}</div>
                <div class="col-md-3"><i class="zmdi zmdi-edit" (click)="showEditCaseModal(case._id)"></i></div>
            </div>
        </li>
    </ul>
</div>