<div class="cases-container" id="caseListContainer">
    <ul class="cases">
        <li *ngFor="let case of cases;" class="case filter {{   getStateClassName(case.state)}}">
            <div class="meta">
                <div class="row">
                    <div class="col-md-7">
                    <span class="updatedate">Last Update : 02. March 2017</span> – <span class="updatime">07:32</span> – <strong><span>Sea-Watch 2</span></strong>
                        
                    </div>
                    <div class="col-md-5 text-right">
                        <span class="casedate">Created: 02. March 2017</span> – <span class="casetime">06:32</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="status col-xs-3 {{getStateClassName(case.state)}}">{{getStateName(case.state)}}</div>
                <div class="col-xs-2 caseID">R3G</div>
                <div class="col-xs-2 boatType">{{getBoatTypeName(case.boatType)}}</div>
                <div class="col-xs-2">{{getBoatConditionName(case.boatCondition)}}</div>
                <div class="col-xs-3 text-right"><i class="zmdi zmdi-edit" (click)="showEditCaseModal(case._id)"></i></div>
            </div>
        </li>
    </ul>
</div>